header {
    margin-bottom: 50px;
}

li.page-item {
    display: none;
}

.page-item:first-child,
.page-item:nth-child(3),
.page-item:nth-last-child(2),
.page-item:last-child,
.page-item.active,
.page-item.disabled {
    display: block;
}

.page-link {
    --bs-pagination-border-radius: 0%;
}

.row {
    justify-content: center;
}

.short_container {
    height: inherit;
}

@media only screen and (min-width: 768px) {
    .short_container {
        height: 30%;
    }

    .first_son {
        max-height: fit-content;
        min-height: fit-content;
        height: fit-content;
    }
}

.displayed_wisdom {
    padding: 20px;
    border-radius: 10px
}

.jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: inherit;
    background-color: #eee;
}

.navbar-brand {
    margin-right: 1rem;
}

.nav-item {
    padding-right: 10px;
}

/* About page styling */
#aboutImage {
    width: 282px;
    height: 282px;
    object-fit: cover;
    object-position: 20% 10%;
}

.division0 {
    margin: 5%;
    padding: 2%;
    text-align: center;
}

.division1 {
    margin: 2%;
}

.division2 {
    text-align: right;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 1%;
    margin-right: 1%;
}

/* Scroll top button */
#btnScrollToTopId {
    position: fixed;
    left: 20px;
    bottom: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #B0C4DE;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    color: white;
    outline: none;
    display: none;
    z-index: 3;
}

#btnScrollToTopId:active {
    background: #c8bae9;
}