/* ---------------------------------------------------
  SIDEBAR STYLE
  ----------------------------------------------------- */


.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #98c8dc;
    color: #fff;
    transition: all 0.3s;
    position: sticky;
    top: 0px;
    left: 0px;
    overflow: scroll;
    height: 100vh;
    z-index: 3;
}

#sidebar.active {
    margin-right: 0px;
}

#sidebar.inactive {
    margin-right: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #9bafca;
    text-align: right;
}

#sidebar div>h3 {
    color: white;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
    text-align: right;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

a[data-toggle="collapse"] {
    position: relative;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

/* ---------------------------------------------------
  CONTENT STYLE
  ----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    transition: all 0.3s;
}

.search-form {
    display: flex;
}

.social-media-icon {
    height: 25px;
    width: auto;
}

#xmark {
    position: fixed;
    top: 25px;
    left: 25px;
    visibility: hidden;
}

.sidebar-header {
    position: sticky;
    top: 0;
    right: 0;
}

/* ---------------------------------------------------
  MEDIAQUERIES
  ----------------------------------------------------- */

@media (max-width: 768px) {
    body.scroll-disable {
        overflow: hidden;
    }

    .navbar-brand {
        margin-right: 0;
    }

    #sidebar.active {
        margin-right: 0;
    }

    #sidebarCollapse span {
        display: none;
    }

    .sidebar-header {
        position: sticky;
        top: 0;
        right: 0;
    }

    #sidebar {
        margin-right: -250px;
        position: fixed;
        top: 0;
        right: 0;
    }

    #sidebar.active {
        margin-right: 0;
    }

    #content.inactive {
        opacity: 0.7;
        pointer-events: none;
        user-select: none;
    }

    #content {
        width: 100%;
        padding: 20px;
        transition: all 0.3s;
    }

    .search-form {
        display: flex;
    }

    .social-media-icon {
        height: 25px;
        width: auto;
    }

    #xmark.show {
        padding: 3%;
        visibility: visible;
        z-index: 3;
    }

    #xmark {
        position: fixed;
        top: 25px;
        left: 25px;
        visibility: hidden;
    }

}